<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css" type="text/css" />
    <title>Задча склад</title>
</head>
<body class="body">
    <h2>Войдите в аккаунт</h2>
    <form class="form">
        <input type="text" REQUIRED id="username" name="username" placeholder="Username"><br>
        <input type="password" REQUIRED name="password" placeholder="Password"><br>

        <input type="submit" value="Отправить">
        <input type="reset" value="Сбросить">
    </form>
</body>
</html>
