<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <title>Главная страница</title>
</head>
<body class="MainBody">
    <h1 style="text-align: center">Наш склад</h1>
    <p>
        Склад ТМЦ — ваш надёжный партнёр в хранении товаров<br>

        Добро пожаловать на страницу нашего склада товарно-материальных ценностей (ТМЦ)!
        Мы предлагаем современные условия хранения для различных товаров и гарантируем их сохранность.<br>

        <ul>Почему стоит выбрать наш склад:
            <li>Современное оборудование для обеспечения оптимальных условий хранения.</li>
            <li>Удобные подъездные пути и погрузочно-разгрузочные зоны.</li>
            <li>Высокий уровень безопасности и контроля доступа.</li>
        </ul><br>

        Мы стремимся обеспечить эффективное и надёжное обслуживание клиентов.
        Свяжитесь с нами, чтобы узнать больше о наших услугах.<br><br><br>

        <div style="text-align: center">
            <button type="button"><a href="Personal_account.html">Личный кабинет</a></button>
            <button type="button"><a href="Deposite_form.html">Форма внесения ТМЦ</a></button>
            <button type="button"><a href="Request_for_receipt.html"> Заявка на получение ТМЦ</a></button>
            <button type="button"><a href="Queue_for_receipt.html">Очередь заявок</a></button>
            <button type="button"><a href="List_of_values.html">Список всех ТМЦ на складе</a></button>
            <button type="button"><a href="Access.html">Выйти из аккаунта</a></button>
        </div>
    </p>
</body>
</html>