<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <title>Личный кабинет</title>
</head>
<body class="MainBody">
    <h2 style="text-align: center">Профиль пользователя</h2>
    <form>
        <input type="text" REQUIRED id="name" name="name" placeholder="Имя"><br>
        <input type="text" REQUIRED id="patronymic" name="patronymic" placeholder="Отчество"><br>
        <input type="text" REQUIRED id="surname" name="surname" placeholder="Фамилия"><br>
        <select gender>
            <option gender>Мужской</option>
            <option gender>Женский</option>
        </select><br>
        <input type="date" REQUIRED id="birthday" name="birthday" placeholder="Дата рождения"><br>
        <input type="text" REQUIRED id="position" name="position" placeholder="Должность"><br>
        <input type="tel" REQUIRED id="phone_number" name="phone_number" placeholder="Телефон"><br>
        <input type="text" REQUIRED id="user" name="user" placeholder="Логин"><br>
        <input type="email" REQUIRED id="email" name="email" placeholder="Почта"><br>
    </form>
    <button type="button"><a href="Archive_of_requests.html">Архив заявок пользователя</a></button>
</body>
</html>